<form novalidate angular-validator angular-validator-submit="saveProgramacion(programacion, 'btnSaveProgramacion')" name="ProgramacionAdd" angular-validator-quiet>
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Nueva Programación</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="txtServicio">Tipo</label>
                <input id="txtServicio" class="form-control" type="txt" ng-model="programacion.servicio.tipo.descripcion"
                    name="programacionServicioDescripcion" readonly />
            </div>
            <div class="form-group col-sm-6">
                <label for="txtServicio">Servicio</label>
                <input id="txtServicio" class="form-control" type="txt" ng-model="programacion.servicio.descripcion_detallada"
                    name="programacionServicioDescripcion" readonly />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="dtFecha">Fecha de Vencimiento</label>
                    <input id="dtFecha" class="form-control" type="date" ng-model="programacion.fecha_vencimiento"
                        name="programacionFecha" required required-message="'Este campo es requerido'" validate-on="blur" />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="nmMonto">Monto</label>
                    <input id="nmMonto" class="form-control" type="number" ng-model="programacion.monto"
                        name="programacionMonto" required min="0" required-message="'Este campo es requerido'" validate-on="blur" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="txtNroRecibo">Nro. Recibo</label>
                    <input id="txtNroRecibo" class="form-control" type="text" ng-model="programacion.nro_recibo"
                        name="programacionNroRecibo" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    Avisar 
                    <select class="form-control" style="width: 60px; display: inline;"
                        name="programacionDiasMensaje" ng-model="programacion.dias_mensaje" 
                        ng-options="option for option in [5, 10, 15, 30, 60]">
                    </select>
                    días antes de la Fecha de Vencimiento
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Cerrar</button>
        <button id="btnSaveProgramacion" class="btn btn-success" type="submit">Guardar Programación</button>
    </div>
</form>