<table class="table table-bordered">
    <thead>
        <tr>
            <th>title</th>
            <th>contenido</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat='item in table1' 
            ng-show="item.title" 
            data-drag="true"
            data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" 
            ng-model="table1" 
            jqyoui-draggable="{index: {{$index}}, animate: true, placeholder: 'keep'}">
            <td>{{ item.title }}</td>
            <td>{{ item.contenido }}</td>
        </tr>
    </tbody>
</table>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>title</th>
            <th>contenido</th>
        </tr>
    </thead>
    <tbody data-drop="true" ng-model='table2' jqyoui-droppable="{multiple:true}">
        <tr ng-repeat="item in table2 track by $index"
            ng-show="item.title" 
            data-drag="true" 
            data-jqyoui-options="{revert: 'invalid', helper: 'clone'}"
            ng-model="table2"
            jqyoui-draggable="{index: {{$index}},animate:true}">
            <td>{{ item.title }}</td>
            <td>{{ item.contenido }}</td>
        </tr>
        <tr class="placeholder" ng-hide="hideMe()">
            <td colspan="2">Agrega</td>
        </tr>
    </tbody>
</table>