<form novalidate angular-validator angular-validator-submit="saveRecibo(recibo, 'btnSaveRecibo')" name="ReciboAdd">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Nueva Recibo</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="txtServicio">Tipo de Servicio</label>
                <input id="txtServicio" class="form-control" type="txt" ng-model="recibo.servicio.tipo.descripcion"
                    name="reciboServicioDescripcion"
                    readonly required required-message="'Selecciona un Tipo de Servicio'" validate-on="blur"/>
            </div>
            <div class="form-group col-sm-6">
                <label for="txtServicio">Servicio</label>
                <input id="txtServicio" class="form-control" type="txt" ng-model="recibo.servicio.descripcion_detallada"
                    name="reciboServicioDescripcion" 
                    readonly required required-message="'Selecciona un Servicio'" validate-on="blur"/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="dtFechaVencimiento">Fecha de Vencimiento</label>
                    <input id="dtFechaVencimiento" class="form-control" type="date" ng-model="fecha_pre"
                        name="reciboFechaVencimiento" required required-message="'Este campo es requerido'" validate-on="blur" />
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="nmMonto">Monto</label>
                    <input id="nmMonto" class="form-control" type="number" ng-model="recibo.monto"
                        name="reciboMonto" required min="0" required-message="'Este campo es requerido'" validate-on="blur" />
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group">
                    <label for="txtNroRecibo">Nro. Recibo</label>
                    <input id="txtNroRecibo" class="form-control" type="text" ng-model="recibo.nro_recibo"
                        name="reciboNroRecibo" required required-message="'Este campo es requerido'" validate-on='blur'/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label><input type="checkbox" name="reciboMesesPosteriores" ng-model="chMesesPosteriores"> Generar recibos para meses posteriores hasta la Fecha:</label>
                </div>
            </div>
        </div>
        <div class="row" ng-show="chMesesPosteriores">
            <div class="col-sm-4">
                <div class="form-group">
                    <input id="dtFechaVencimientoUltimo" class="form-control" type="date" ng-model="fecha_pre_ultimo"
                        name="reciboFechaVencimientoUltimo" validate-on="blur" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    Avisar 
                    <select class="form-control" style="width: 60px; display: inline;"
                        name="reciboDiasMensaje" ng-model="recibo.dias_mensaje" 
                        ng-options="option for option in [5, 7, 10, 15, 30, 60]">
                    </select>
                    días antes de la Fecha de Vencimiento
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Cerrar</button>
        <button id="btnSaveRecibo" class="btn btn-success" type="submit">Guardar Recibo</button>
    </div>
</form>