<div class="alert alert-dismissible" ng-class="{'alert-success': message.code === 200, 'alert-danger': message.code !== 200 }" role="alert" ng-show="message.code !== undefined">
    <button type="button" class="close" ng-click="message.code = undefined" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{ message.message }} 
</div>
<ol class="breadcrumb">
    <li><a ui-sref="main">Home</a></li>
    <li>Reportes</li>
    <li>Reporte por Tipos</li>
</ol>
<h2>Reporte por Tipos</h2>
<hr>
<div class="row">
    <div class="col-sm-12">
        <form class="form-inline">
            <label for="dtFechaInicio">Fecha Inicio:</label>
            <input id="dtFechaInicio" type="date" class="form-control" ng-model="search.fechaInicio" ng-change="getReporteTipos()">
            <label for="dtFechaCierre">Fecha Cierre:</label>
            <input id="dtFechaCierre" type="date" class="form-control" ng-model="search.fechaCierre" ng-change="getReporteTipos()">
            Mostrando 
            <select class="form-control" style="width: 70px; display: inline;" ng-change="onChangeItemsPerPage()"
                ng-model="items_per_page" ng-options="option for option in [10, 50, 100, 150]">
            </select> 
            resultados por página
            <div class="pull-right">
                <button type="btn" class="btn btn-primary" ng-click="exportData('excel')" title="Exportar a Excel">
                    <img src="../images/excel-icon.svg" alt="Exportar a Excel" class="img-icon">
                </button>
                <button type="btn" class="btn btn-primary" ng-click="exportData('txt')" title="Exportar a TXT">
                    <img src="../images/txt-icon.svg" alt="Exportar a TXT" class="img-icon">
                </button>
                <button type="btn" class="btn btn-primary" ng-click="exportData('csv')" title="Exportar a CSV">
                    <img src="../images/csv-icon.svg" alt="Exportar a CSV" class="img-icon">
                </button>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active" style="cursor: pointer;"><a data-target="#tabla" aria-controls="tabla" role="tab" data-toggle="tab">Tabla</a></li>
                <li role="presentation" style="cursor: pointer;"><a data-target="#grafico" aria-controls="grafico" role="tab" data-toggle="tab">Gráfico</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="tabla">
                    <scrollable-table watch="tipos" class="table-responsive" id="exportable">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th ng-style="{'width': tipos_ws.wCodigo}" sortable-header col="id">Código</th>
                                    <th ng-style="{'width': tipos_ws.wDescripcion}" sortable-header col="descripcion">Descripciòn</th>
                                    <th ng-style="{'width': tipos_ws.wNServicios}" sortable-header col="countServicios">N. de Servicios</th>
                                    <th ng-style="{'width': tipos_ws.wNRecibos}" sortable-header col="countRecibos">N. de Recibos</th>
                                    <th ng-style="{'width': tipos_ws.wNRecibosSinPagar}" sortable-header col="countRecibosPendientes">N. de Recibos sin pagar</th>
                                    <th ng-style="{'width': tipos_ws.wMontoPendiente}" sortable-header col="montoPendiente">Monto total pendiente de pago</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="trCargando" ng-hide="!loading"><td colspan="6">Cargando...</td></tr>
                                <tr id="trNoHayRegistros" ng-show="!loading && tipos.length === 0"><td colspan="6">No hay registros</td></tr>
                                <tr ng-hide="loading" ng-class="{'danger': tipo.countRecibosPendientes !== 0}" ng-repeat="tipo in tipos" row-id="{{ tipo.id }}">
                                    <td ng-style="{'width': tipos_ws.wCodigo}">{{ tipo.id }}</td>
                                    <td ng-style="{'width': tipos_ws.wDescripcion}">{{ tipo.descripcion }}</td>
                                    <td ng-style="{'width': tipos_ws.wNServicios}" class="tdNumber">{{ tipo.countServicios }}</td>
                                    <td ng-style="{'width': tipos_ws.wNRecibos}" class="tdNumber">{{ tipo.countRecibos }}</td>
                                    <td ng-style="{'width': tipos_ws.wNRecibosSinPagar}" class="tdNumber">{{ tipo.countRecibosPendientes }}</td>
                                    <td ng-style="{'width': tipos_ws.wMontoPendiente}" class="tdNumber">S/ {{ tipo.montoPendiente }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </scrollable-table>
                    <ul uib-pagination total-items="pagination.totalItems" first-text="Primero" 
                        last-text="Último" next-text="Signte" previous-text="Anterior"
                        items-per-page="pagination.itemsPerPage" ng-model="page" 
                        class="pagination-sm" boundary-links="true"uie force-ellipses="true"
                        ng-change="pageChanged()"></ul>
                </div>
                <div role="tabpanel" class="tab-pane" id="grafico">
                    <canvas id="bar" class="chart chart-bar" chart-series="seriesBar" height="100"
                        chart-data="dataBar" chart-labels="labelsBar" chart-options="optionsBar">
                    </canvas>
                </div>
            </div>
        </div>
        <button type="button" ng-click="showReporteGrafico()">das</button>
    </div>
</div>