<div class="alert alert-dismissible" ng-class="{'alert-success': message.code === 200, 'alert-danger': message.code !== 200 }" role="alert" ng-show="message.code !== undefined">
    <button type="button" class="close" ng-click="message.code = undefined" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{ message.message }} 
</div>
<ol class="breadcrumb">
    <li><a ui-sref="administrar">Home</a></li>
    <li>Reportes</li>
    <li>Reporte de Recibos Pagadas</li>
</ol>
<h2>Reporte de Recibos Pagadas</h2>
<hr>
<div class="row">
    <div class="col-sm-6">
        <label for="dtFechaInicio">Fecha de Inicio</label>
        <input id="dtFechaInicio" type="date" class="form-control" ng-model="fecha_inicio" ng-change="changeDates(fecha_inicio, fecha_cierre)">
    </div>
    <div class="col-sm-6">
        <label for="dtFechaCierre">Fecha de Cierre</label>
        <input id="dtFechaCierre" type="date" class="form-control" ng-model="fecha_cierre" ng-change="changeDates(fecha_inicio, fecha_cierre)">
    </div>
    <div class="col-sm-12">
        <button type="btn" class="btn btn-primary" ng-click="exportData('excel')" title="Exportar a Excel">
            <img src="../images/excel-icon.svg" alt="Exportar a Excel" class="img-icon">
        </button>
        <button type="btn" class="btn btn-primary" ng-click="exportData('txt')" title="Exportar a TXT">
            <img src="../images/txt-icon.svg" alt="Exportar a TXT" class="img-icon">
        </button>
        <button type="btn" class="btn btn-primary" ng-click="exportData('csv')" title="Exportar a CSV">
            <img src="../images/csv-icon.svg" alt="Exportar a CSV" class="img-icon">
        </button>
    </div>
    <div class="col-sm-12">
        <scrollable-table watch="recibos" class="table-responsive" id="exportable">
            <meta charset="UTF-8">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th sortable-header col="id">Código</th>
                        <th sortable-header col="servicio.tipo.descripcion">Tipos</th>
                        <th sortable-header col="servicio.descripcion">Servicio</th>
                        <th sortable-header col="servicio.detalle">Detalle</th>
                        <th sortable-header col="monto">Monto</th>
                        <th sortable-header col="fecha_pago">Fecha de Pago</th>
                        <th sortable-header col="fecha_vencimiento">Fecha Programada</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="trCargando" ng-hide="!loading"><td colspan="6">Cargando...</td></tr>
                    <tr id="trNoHayRegistros" ng-show="!loading && pagos.length === 0"><td colspan="6">No hay registros</td></tr>
                    <tr ng-hide="loading" ng-class="{'warning': recibo.estado_id === 4, 'danger': recibo.estado_id === 2}" ng-repeat="recibo in recibos | toArray:false " row-id="{{ recibo.id }}">
                        <td>{{ recibo.id }}</td>
                        <td>{{ recibo.servicio.tipo.descripcion }}</td>
                        <td>{{ recibo.servicio.descripcion }}</td>
                        <td>{{ recibo.servicio.detalle }}</td>
                        <td>{{ recibo.monto }}</td>
                        <td>{{ recibo.fecha_pago }}</td>
                        <td>{{ recibo.fecha_vencimiento }}</td>
                    </tr>
                </tbody>
            </table>
        </scrollable-table>
    </div>
</div>