<div class="alert alert-dismissible" ng-class="{'alert-success': message.code === 200, 'alert-danger': message.code !== 200 }" role="alert" ng-show="message.code !== undefined">
    <button type="button" class="close" ng-click="message.code = undefined" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{ message.message }} 
</div>
<ol class="breadcrumb">
    <li><a ui-sref="administrar">Home</a></li>
    <li>Reportes</li>
    <li>Reporte de Servicios</li>
</ol>
<h2>Reporte de Servicios</h2>
<hr>
<div class="row">
    <div class="col-sm-12">
        <div class="radio">
            <label>
                <input type="radio" ng-model="search.condicion" value=""> 
                Todos
            </label>
            <label>
                <input type="radio" ng-model="search.condicion" value="DEUDA"> 
                No pagados
            </label>
            <label>
                <input type="radio" ng-model="search.condicion" value="PAGADO"> 
                Pagados
            </label>
        </div>
    </div>
    <div class="col-sm-12">
        <button type="btn" class="btn btn-primary" ng-click="exportData('excel')" title="Exportar a Excel">
            <img src="../images/excel-icon.svg" alt="Exportar a Excel" class="img-icon">
        </button>
        <button type="btn" class="btn btn-primary" ng-click="exportData('txt')" title="Exportar a TXT">
            <img src="../images/txt-icon.svg" alt="Exportar a TXT" class="img-icon">
        </button>
        <button type="btn" class="btn btn-primary" ng-click="exportData('csv')" title="Exportar a CSV">
            <img src="../images/csv-icon.svg" alt="Exportar a CSV" class="img-icon">
        </button>
    </div>
    <div class="col-sm-12">
        <scrollable-table watch="servicios" class="table-responsive" id="exportable">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th sortable-header col="id">Código</th>
                        <th sortable-header col="descripcion">Descripciòn</th>
                        <th sortable-header col="tipo.descripcion">Tipo de Servicio</th>
                        <th sortable-header col="detalle">Detalle</th>
                        <th sortable-header-col="condicion">Condición</th>
                        <th sortable-header-col="deuda_acumulada">Deuda Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="trCargando" ng-hide="!loading"><td colspan="6">Cargando...</td></tr>
                    <tr id="trNoHayRegistros" ng-show="!loading && pagos.length === 0"><td colspan="6">No hay registros</td></tr>
                    <tr ng-hide="loading" ng-class="{'danger': servicio.estado_id === 2}" ng-repeat="servicio in servicios | toArray:false | filter:search" row-id="{{ servicio.id }}">
                        <td>{{ servicio.id }}</td>
                        <td>{{ servicio.descripcion }}</td>
                        <td>{{ servicio.tipo.descripcion }}</td>
                        <td>{{ servicio.detalle }}</td>
                        <td>{{ servicio.condicion }}</td>
                        <td>{{ servicio.deuda_acumulada }}</td>
                    </tr>
                </tbody>
            </table>
        </scrollable-table>
    </div>
</div>